div {       
 color:rgb(160, 171, 221);
 font-family: arial;
 font-size: 17pt;
}


.u-center {
     text-align: center;
}

.img-topg {
       display: flex;
       justify-content: center;
}

img {
    border-radius: 777px;
}

h1 {
    font-family: helvetica;
    font-size: 47pt;
}

.boss {
    background-color: rgb(0, 118, 139);
    border-top-right-radius: 17px;
    border-top-right-radius: 17px;
    color: gold;
    padding-top: 17px;
    padding-bottom: 17px;
    
}

p {
    font-family: helvetica;
    font-size: 17pt;
}

body{
    background: rgb(0, 255, 157);


}

.link1 a {
    text-align: center;
}

a {
    text-decoration: none;
    color: red;
    font-size: xx-large;

}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    color: red;
}
